<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
              
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="#" target="_blank">NEKSI</a> for a better World.
        </div>
    </div>
</footer>
