<div class="main-content back">
  <div class="container-fluid">
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Connexion</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="Submit()" >
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" formControlName="password" type="password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="primary" class="btn-block" type="submit">Se connecter</button>
    </form>
  </mat-card>
</div>
</div>
</div>
</div>
