<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Modification</h4>
          </div>
          <div class="card-body">
            <form >
              <div *ngIf="isReadyTopersonne===false">
                <div class="row">
                  <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                      <input name="qui" [(ngModel)]="load.clientInsert.qui"   matInput placeholder="Qui">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-select name="importance" [(ngModel)]="load.clientInsert.importance" placeholder="Importance">
                        <mat-option *ngFor="let im of listimpotance" value="{{im}}">{{im}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-select name="potentiel"  [(ngModel)]="load.clientInsert.potentiel"  placeholder="Potentiel">
                        <mat-option *ngFor="let po of listpotentiel" value="{{po}}">{{po}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input  name="nom_entreprise" [(ngModel)]="load.clientInsert.nom_entreprise" matInput placeholder="Nom de l'entreprise" type="text">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input  name="segment" [(ngModel)]="load.clientInsert.segment" matInput placeholder="Segment" type="text">
                    </mat-form-field>
                  </div>

                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <mat-select name="domaine_activite" [(ngModel)]="load.clientInsert.domaine_activite"  placeholder="Domaine Activite">
                        <mat-option *ngFor="let do of listdommaine" value="{{do}}">{{do}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input  name="infogen" [(ngModel)]="load.clientInsert.infogen" matInput placeholder="Info Générale" type="text">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input  name="source" [(ngModel)]="load.clientInsert.source" matInput placeholder="Source" type="text">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input  name="statut" [(ngModel)]="load.clientInsert.statut" matInput placeholder="Statut" type="text">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <mat-select [(ngModel)]="load.clientInsert.typeclient" name="typeclient" placeholder="Type Client">
                        <mat-option *ngFor="let cli of listTypeclient" value="{{cli}}">{{cli}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <textarea  name="commentaire" [(ngModel)]="load.clientInsert.commentaire" matInput placeholder="Commentaires"></textarea>
                    </mat-form-field>
                    <!-- <div class="form-group">

                        <div class="form-group">
                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div> -->
                  </div>
                </div>
              </div>
              <div *ngIf="isReadyTopersonne===true">
                <div class="row" >
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input [(ngModel)]="load.clientInsert.nom_representant" name="nom_representant" matInput placeholder="Nom_Representant">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input  [(ngModel)]="load.clientInsert.prenom_representant"  name="prenom_representant"  matInput placeholder="Prenom_Representant">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input    name="telephone_representant" [(ngModel)]="load.clientInsert.telephone_representant" matInput placeholder="Telephone_Representant" >
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input  name="fonction_representant" [(ngModel)]="load.clientInsert.fonction_representant" matInput placeholder="Fonction_Representant">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input  name="cp_representant" [(ngModel)]="load.clientInsert.prenom_representant" matInput placeholder="Cp_Representant">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input  name="adresse_representant" [(ngModel)]="load.clientInsert.adresse_representant" matInput placeholder="Adresse_Representant">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input  name="ville_representant" [(ngModel)]="load.clientInsert.ville_representant" matInput placeholder="Ville_Representant">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input  name="pays_representant" [(ngModel)]="load.clientInsert.pays_representant" matInput placeholder="Pays_Representant" >
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <button *ngIf="isReadyTopersonne===true" (click)="Previous()" mat-raised-button type="submit" class="btn btn-success pull-left">

                <i class="material-icons">arrow_back</i>Precedent
              </button>
              <div class="clearfix"></div>
              <button *ngIf="isReadyTopersonne===false" (click)="Next()" mat-raised-button type="submit" class="btn btn-success pull-right">Suivant
                <i class="material-icons">arrow_forward</i></button>
              <div class="clearfix"></div>
              <button *ngIf="isReadyTopersonne===true && isloading===false" (click)="Submit()" mat-raised-button type="submit" class="btn btn-success pull-right">
                Enregistrer
                <i class="material-icons">assignment_returned</i>
              </button>
              <div *ngIf="isloading===true" class="spinner-border pull-right" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <!----
       <div class="col-md-4">
           <div class="card card-profile">
               <div class="card-avatar">
                   <a href="javascript:void(0)">
                       <img class="img" src="./assets/img/faces/marc.jpg" />
                   </a>
               </div>
               <div class="card-body">
                   <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                   <h4 class="card-title">Alec Thompson</h4>
                   <p class="card-description">
                       Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                   </p>
                   <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
               </div>
           </div>
       </div>
     -->
    </div>
  </div>
</div>
