<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-success">
                      <p class="card-category">
                          <button mat-button [matMenuTriggerFor]="menu">Imprimer</button>
                          <i class="material-icons">
                              print
                          </i>
                          <mat-menu #menu="matMenu">
                              <button [elementToPrint]="printThis" ngPrint mat-menu-item>PDF</button>
                              <button (click)="PrintToCsv()" mat-menu-item>CSV</button>
                          </mat-menu>


                          <mat-menu  #menudomaine="matMenu">
                              <button (click)="loadAll()"  value="Tous" mat-menu-item>Tous</button>
                              <button (click)="FilterbyDomaine(do)" *ngFor="let do of listdommaine" value="{{do}}" mat-menu-item>{{do}}</button>
                          </mat-menu>

                          <button class="pull-right" mat-button [matMenuTriggerFor]="menupo">
                              {{indexofpotentiel}}
                              <i class="material-icons">
                                  import_export
                              </i>
                          </button>

                          <button class="pull-right" mat-button [matMenuTriggerFor]="menuimp">
                              {{indexofimportance}}
                              <i class="material-icons">
                                  import_export
                              </i>
                          </button>


                          <button class="pull-right" mat-button [matMenuTriggerFor]="menudomaine">
                              {{indexofdomaine}}
                              <i class="material-icons">
                                  import_export
                              </i>
                          </button>

                          <button class="pull-right" mat-button [matMenuTriggerFor]="menutypecl">
                              {{indexoftypeclient}}
                              <i class="material-icons">
                                  import_export
                              </i>
                          </button>

                          <mat-menu #menuimp="matMenu">
                              <button (click)="loadAll()" value="Tous" mat-menu-item>Tous</button>
                              <button (click)="FilterbyImportance(im)" *ngFor="let im of listimpotance" value="{{im}}" mat-menu-item>{{im}}</button>
                          </mat-menu>

                          <mat-menu #menupo="matMenu">
                              <button (click)="loadAll()" value="Tous" mat-menu-item>Tous</button>
                              <button (click)="FilterbyPotentiel(po)" *ngFor="let po of listpotentiel" value="{{po}}" mat-menu-item>{{po}}</button>
                          </mat-menu>

                          <mat-menu #menutypecl="matMenu">
                              <button (click)="loadAll()" value="Tous" mat-menu-item>Tous</button>
                              <button (click)="FilterbyTypeclient(tpcl)" *ngFor="let tpcl of listTypeclient" value="{{tpcl}}" mat-menu-item>{{tpcl}}</button>
                          </mat-menu>


                      </p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Qui
                                  </th>
                                  <th>
                                      Nom de l'entreprise
                                  </th>
                                  <th>
                                      Importance
                                  </th>
                                  <th>
                                      Potentiel
                                  </th>
                                  <th>
                                      Source
                                  </th>
                                  <th>
                                    Date d'action
                                 </th>
                                  <th>
                                      Actions
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let info of load.cat.data  | entrefiltre:load.searchtext | paginate: { itemsPerPage: 8, currentPage: p }">
                                      <td>
                                        {{info.qui}}
                                      </td>
                                      <td>
                                        {{info.nom_entreprise}}
                                      </td>
                                      <td>
                                        {{info.importance}}
                                      </td>
                                      <td>
                                        {{info.potentiel}}
                                      </td>
                                      <td>
                                        {{info.source}}
                                      </td>
                                      <td>
                                        {{info.date_action | date}}
                                      </td>
                                      <td class="td-actions">
                                        <button (click)="GoDetails(info)" mat-raised-button type="button" class="btn btn-info">
                                            <i class="material-icons">visibility</i>
                                        </button>
                                        <button *ngIf="loginService.role==='admin'" (click)="GoToUpdate(info)" mat-raised-button type="button" class="btn btn-success" style="margin-left: 5px;">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button *ngIf="loginService.role==='admin'" (click)="remove(info)" mat-raised-button type="button"  class="btn btn-danger" style="margin-left: 5px;">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                  </tr>
                              </tbody>
                          </table>
                          <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </div>
                  </div>
              </div>
          </div>
          <!----
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Table on Plain Background</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Country
                                  </th>
                                  <th>
                                      City
                                  </th>
                                  <th>
                                      Salary
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td>
                                          $36,738
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Curaçao
                                      </td>
                                      <td>
                                          Sinaai-Waas
                                      </td>
                                      <td>
                                          $23,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Netherlands
                                      </td>
                                      <td>
                                          Baileux
                                      </td>
                                      <td>
                                          $56,142
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Korea, South
                                      </td>
                                      <td>
                                          Overland Park
                                      </td>
                                      <td>
                                          $38,735
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          Feldkirchen in Kärnten
                                      </td>
                                      <td>
                                          $63,542
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Chile
                                      </td>
                                      <td>
                                          Gloucester
                                      </td>
                                      <td>
                                          $78,615
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
        -->
          <div style="display: none" #printThis>
              <table class="table"  >
                  <thead class=" text-primary">
                  <th>
                      Qui
                  </th>
                  <th>
                      Nom de l'entreprise
                  </th>
                  <th>
                      Importance
                  </th>
                  <th>
                      Potentiel
                  </th>
                  <th>
                      Source
                  </th>
                  <th>
                      Date d'action
                  </th>
                  <th>
                      Segment
                  </th>
                  <th>
                      Statut
                  </th>
                  <th>
                      Information Generale
                  </th>
                  <th>
                      typeclient
                  </th>
                  <th>
                      Commentaire
                  </th>
                  <th>
                      Prenom_Representant
                  </th>
                  <th>
                      Nom_Representant
                  </th>
                  <th>
                      Fonction_Representant
                  </th>
                  <th>
                      Telephone_Representant
                  </th>
                  <th>
                      Adresse_Representant
                  </th>
                  <th>
                      Cp_Representant
                  </th>
                  <th>
                      Ville_Representant
                  </th>
                  <th>
                      Pays_Representant
                  </th>
                  </thead>
                  <tbody>
                  <tr *ngFor="let info of load.cat.data">
                      <td>
                          {{info.qui}}
                      </td>
                      <td>
                          {{info.nom_entreprise}}
                      </td>
                      <td>
                          {{info.importance}}
                      </td>
                      <td>
                          {{info.potentiel}}
                      </td>
                      <td>
                          {{info.source}}
                      </td>
                      <td>
                          {{info.date_action | date}}
                      </td>
                      <td>
                          {{info.segment}}
                      </td>
                      <td>
                          {{info.statut}}
                      </td>

                      <td>
                          {{info.infogen}}
                      </td>

                      <td>
                          {{info.typeclient}}
                      </td>

                      <td>
                          {{info.commentaire}}
                      </td>

                      <td>
                          {{info.prenom_representant}}
                      </td>

                      <td>
                          {{info.nom_representant}}
                      </td>

                      <td>
                          {{info.fonction_representant}}
                      </td>

                      <td>
                          {{info.telephone_representant}}
                      </td>

                      <td>
                          {{info.adresse_representant}}
                      </td>

                      <td>
                          {{info.cp_representant}}
                      </td>

                      <td>
                          {{info.ville_representant}}
                      </td>

                      <td>
                          {{info.pays_representant}}
                      </td>

                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
