<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-success">
                      <h4 class="card-title ">Tableau de prospection et de suivi des clients</h4>
                  </div>
                  <div class="card-body">
                    <div class="card">
                      <div class="card-header">
                         <h4><strong>Informations detaillées du client</strong></h4>
                        <hr>
                      </div>
                      <div class="card-body">
                        <div class="row container">
                          <div class="col-md-5">
                            <h5><strong>Nom de l'entreprise:</strong> {{load.clientInstance.nom_entreprise}}</h5>
                            <h5><strong>Importance:</strong> {{load.clientInstance.importance}}</h5>
                            <h5><strong>Potentiel:</strong> {{load.clientInstance.potentiel}}</h5>
                            <h5><strong>TypeClient:</strong> {{load.clientInstance.typeclient}}</h5>
                          </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                          <h5><strong>Segment:</strong>  {{load.clientInstance.segment}}</h5>
                            <h5><strong>Source:</strong> {{load.clientInstance.source}}</h5>
                            <h5><strong>Statut:</strong> {{load.clientInstance.statut}}</h5>
                          <h5><strong>Domaine d'activite:</strong> {{load.clientInstance.domaine_activite}}</h5>
                        </div>
                        <div class="row container">
                          <div class="col-md-5">
                            <h5 class="card-title"><strong>Info générale</strong></h5>
                            {{load.clientInstance.infogen}}
                          </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5" style="margin-left: 12px;">
                          <h5 class="card-title" ><strong>Commentaire</strong></h5>
                          {{load.clientInstance.commentaire}}
                        </div>
                        </div>
                        </div>
                      </div>
                    </div>
                      
                    <div class="card">
                      <div class="card-header">
                        <h4><strong>Représentant du client</strong></h4>
                        <hr>
                      </div>
                      <div class="card-body">
                        <div class="row container">
                          <div class="col-md-5">
                            <h5><strong>Prénom:</strong> {{load.clientInstance.prenom_representant}}</h5>
                            <h5><strong>Nom:</strong> {{load.clientInstance.nom_representant}}</h5>
                            <h5><strong>Fonction:</strong> {{load.clientInstance.fonction_representant}}</h5>
                            <h5><strong>Tel:</strong> {{load.clientInstance.telephone_representant}}</h5>
                          </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                          <h5><strong>Adresse:</strong> {{load.clientInstance.adresse_representant}}</h5>
                          <h5><strong>CP:</strong> {{load.clientInstance.cp_representant}}</h5>
                          <h5><strong>Ville:</strong> {{load.clientInstance.ville_representant}}</h5>
                          <h5><strong>Pays:</strong> {{load.clientInstance.pays_representant}}</h5>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
